table(align='center' role='header' cellspacing='0' cellpadding='0' border='0' width='100%' style='margin: auto;')
    tr
        td(style='text-align: center;')
            a(href=`https://app.${BASE_DOMAIN}`)
                img(src='cid:dark_logo' alt='Rederly Logo' width='50%' border='0')
