doctype html
head
  include ../generic/head.pug
center(style='width: 100%; background-color: #f1f1f1;')
  div(style='display: none; font-size: 1px;max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden; mso-hide: all; font-family: sans-serif;')
    | &zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;
  .email-container(style='max-width: 600px; margin: 0 auto;')
    // BEGIN BODY
    table(align='center' role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%' style='margin: auto;')
      tr
        td.bg_white(valign='top' style='padding: 1em 2.5em 0 2.5em;')
          table(role='presentation' border='0' cellpadding='0' cellspacing='0' width='100%')
            tr
              td.logo(style='text-align: center;')
                h1
                  a(href=`https://${BASE_DOMAIN}`) Rederly
      // end tr
      tr
        td.hero.bg_white(valign='middle' style='padding: 2em 0 4em 0;')
          table(role='presentation' border='0' cellpadding='0' cellspacing='0' width='100%')
            tr
              td(style='padding: 0 2.5em; text-align: center; padding-bottom: 3em;')
                .text
                  h2 Click the link below to verify your email address.
            tr
              td(style='text-align: center;')
                a(href=`https://app.${BASE_DOMAIN}`)
                  img(src='cid:favicon' alt='Rederly Logo')
                p
                  a.btn.btn-primary(href=`${verifyUrl}`) Confirm registration
                p(style='padding: 0 2.5em; text-align: center; padding-bottom: 3em;')
                  |If you did not register for an account at Rederly, you can safely ignore this email.
      // end tr
      // 1 Column Text + Button : END
    include ../generic/footer.pug